@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;1,100&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
}

img {
  display: block;
  width: 100%;
}

.wrapper {
  width: 1620px;
  max-width: 100%;
  margin: 0 auto;

}

.container {
  width: 1520px;
  max-width: 100%;
  padding: 0 50px;
  margin: 0 auto;
}

// GRID RESPONSIVE
.grid {
  display: grid;
}

@each $value in $number {
  .grid-col-#{$value} {
    grid-template-columns: repeat($value, 1fr);
  }
}

@each $value in $number {
  .grid-col-md-#{$value} {
    @include tablet {
      grid-template-columns: repeat($value, 1fr);
    }
  }
}

@each $value in $number {
  .grid-col-sm-#{$value} {
    @include mobile {
      grid-template-columns: repeat($value, 1fr);
    }
  }
}

// COLOR MODEL
@each $color,$value in $colors {
    .color-#{$color} {
      color : $value
    }
    .bg-#{$color} {
      background-color: $value;
    }
}

