.custom-checkbox {
  display: flex;
  align-items: center;
  width: fit-content;
  cursor: pointer;
  margin-bottom: 10px;

  &:hover {
    color: $main-color;
  }
  &__input {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    opacity: 0;

    &-box {
      $box-size: 20px;
      height: $box-size;
      width: $box-size;
      border: 1px solid black;
      text-align: center;
      line-height: $box-size;
      text-align: center;
      font-size: calc(#{$box-size} - 2px);
    }

    &-icon {
      opacity: 0;
      transition: transform 0.3s ease;
    }

    &:checked ~ &-box > &-icon {
      opacity: 1;
    }
  }

  // &__input:checked ~ .custom-checkbox__input-box > i {
  //   opacity: 1;
  // }

  &__display {
    padding-left: 10px;
    font-size: 1.6rem;
  }
}
