.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: $header-height;
  z-index: 999;
  transition: height 0.5s ease;
  
  &.shrink {
    height: $header-shrink-height;
    box-shadow: 0px 6px 12px 2px rgba(50, 50, 93, 0.25);
    padding: 35px 0;
    background-color: white;
  }

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.8rem;
    height: 100%;
  }

  &__logo {
    width: 100px;
  }

  &__hamburger {
    display: none;
    font-size: 2.5rem;
    cursor: pointer;
  }

  &__left {
    &-list {
      &-item {
        color: black;
        margin-right: 40px;
        transition: all 0.5s ease;
        font-weight: bold;
      }
      &-item:hover {
        color: $main-color;
      }
      &-item.active {
        color: $main-color;
      }
    }
    &-arrow {
      display: none;
    }
  }

  &__right {
    &-list {
      display: flex;
      font-size: 2.5rem;
      &-item {
        color: black;
        margin-left: 30px;
        transition: all 0.5s ease;
      }
      &-item:hover {
        color: $main-color;
      }
    }
  }

  @media (max-width: $tablet-width) {
    height: $header-responsive-height;
    &__hamburger {
      display: block;
    }
    &__left {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100vh;
      background-color: white;
      padding-top: 30px;
      transform: translateX(-100%);
      transition: transform 0.5s ease;
      &.active {
        transform: translateX(0);
      }
      &-arrow {
        position: absolute;
        margin-left: 50px;
        font-size: 30px;
        cursor: pointer;
        display: block;
      }
      &-list {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        flex-direction: column;
        text-align: center;
        font-size: 3rem;
        &-item ~ &-item {
          margin-top: 2rem;
        }
      }
    }
  }
}
