.product-modal {
  position: fixed;
  z-index: 1000;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  overflow: auto;
  background-color: rgba($color: #000000, $alpha: 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;

  &.active {
      visibility: visible;
  }

  &__container {
    position: relative;
    margin: auto;
    width: 60%;
    display: flex;
    background-color: white;
    padding: 30px;
    opacity: 0;
    transform: translateY(-100px);
    transition: transform .5s ease;
  }

  &.active &__container {
    opacity: 1;
    transform: translateY(0);
  }

  &__btn {
    &-close {
      position: absolute;
      top: 0;
      right: 0;

      button {
        border-radius: 0;
      }
    }
  }
}
